@font-face {
    font-family:lafue;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lafue;
  }

  body  {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        align-items: center;
      
  }
  footer {
    display: block;
  }

    .recepiente {
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.228);
        border-radius: 20px;
        height: 350px;
        background-color: white;
        display: flex;
        flex-direction: row;
        width: 90%;
        max-width: 700px;
       
  }

 .header {
    padding: 5% 0px;
    flex: auto;
    background: linear-gradient(to top, #342EEA,#3D31ED, #5C3DFA, #6642FE);
    gap: 10px;
    color: white;
    text-align: center;
    
    transform: translateY(0);
    transition: transform 2s ,color 2s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 04px;

    @starting-style {
        color: red;
        transform: translateY(-100%);   
    }
  }

  .header > h1 {
    opacity: 0.6;
    font-size: 1.1rem;
    font-weight: normal;
  }
  .number {
    font-size: 3rem;
    font-weight: bold;
  }

  .circulo {
    background: linear-gradient(to bottom, #391ca093, #342EEA);
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 50%;
  }
  .conta {
    display: flex;
    justify-content: space-around;
    align-items: center;  
  }

  .embaixodeRead {
    opacity: 0.5;
    font-size: 0.9rem; 
  }

  h2 {
    font-size: 1.3rem;   
  }
  p {
    font-weight: normal;
    opacity: 0.5;
    
    font-size: 0.9rem;
  }

  .contei {
    flex: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(0);
    transition: transform 2s ,color 2s;
    
    

    @starting-style {
        transform: translateX(-100%);
        transition: transform 2s;
    }
  }

  .summary {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
  }

    .verbal {
      background-color: #F2FBFA;
      color: #24B78D;
    }
  .bow {
    display: flex;
    background-color: whitesmoke;
    height:40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 
    10px;
    font-size: 1rem;
    border-radius: 10px;
    flex-grow: 1;
    font-weight: bold;
    
  }
  .react {
    background-image:  #9c0005;
    color: #cf1016;
  }
  .memo {
    background-color: #FEFBF2;
    color: #cb8e00;
  }
  
  .zaza {
    background-color: #b6b8e052;
    color: #000f7e;
  }
  input, .bow {
    
  }
  input {
    border-radius: 20PX;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    background-color: #303B59;
    color: white;
  }

  span {
    color: black;
  }